/*reset css*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*头部样式*/
/*
  选择器是从右往左解析，这样效率更高
  选择器有开销的，不同选择器开销不同
    id选择器<类选择器
  结论：选择器一般最多3-4个左右
*/
#wrap{
  height: 100%;
}
.header{
  background: pink;
}
.header-main{
  background: deeppink;
  width: 1100px;
  height: 80px;
  margin: 0 auto;
}
.logo{
  float: left;
  margin-top: 15px;
}
.music-icon{
  float: left;
  margin-top: 50px;
}
.nav{
  float: right;
  margin-top: 50px;
}
.nav li{
  position: relative;
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
.nav li img{
  height: 100%;
}
.nav li:hover .down{
  width: 100%;
}
.nav li .up{
  color: #009EE0;
}
.nav li .down{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: width 1s;
  overflow: hidden;
}