/*reset css*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0;padding: 0;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*公共样式*/
.common-title{
  color:#009ee0;
  font-size:80px;
  line-height:0.8;
  font-weight:bold;
  letter-spacing:-5px;
}


/*头部样式*/
/*
  选择器是从右往左解析，这样效率更高
  选择器有开销的，不同选择器开销不同
    id选择器<类选择器
  结论：选择器一般最多3-4个左右
*/
#wrap{
  position: relative;
  height: 100%;
}
.header{
  position: relative;
}
.header-main{
  width: 1100px;
  height: 80px;
  margin: 0 auto;
}
.logo{
  float: left;
  margin-top: 15px;
}
.music-icon{
  float: left;
  margin-top: 50px;
}
.nav{
  float: right;
  margin-top: 50px;
}
.nav li{
  position: relative;
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
.nav li:nth-child(1){
  width: 18px;
}
.nav li:hover .down{
  width: 100%;
}
.up{
  color: #009EE0;
}
.down{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: width 1s;
  overflow: hidden;
}
.arrow{
  position: absolute;
  left: 50%;
  bottom: -11px;
  z-index: 10;
  width: 21px;
  height: 11px;
  background-image: url('../imgs/arrow.png');
  background-repeat: no-repeat;
  transition: left 1s;
}

/*内容区*/
.content{
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.content-main{
  position: absolute;
  left: 0;
  top: 0;  /*为了让第一次有过渡效果*/
  height: 500%;
  width: 100%;
  transition: top 1s;
}
.content-main>li{
  position: relative;
  height: 20%;
  background-repeat: no-repeat;
}
section{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -550px;
  width: 1100px;
  height: 520px;
}
/*
  垂直水平居中方案
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
 */
/*
 只能用于已知宽高
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -260px;
 margin-left: -550px;
 */
/*position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
/*
给父元素设置
display: flex;
justify-content: center;
align-items: center;
*/
.content-main>li:nth-child(1){
  background-image: url('../imgs/bg1.jpg');
}
.content-main>li:nth-child(2){
  background-image: url('../imgs/bg2.jpg');
}
.content-main>li:nth-child(3){
  background-image: url('../imgs/bg3.jpg');
}
.content-main>li:nth-child(4){
  background-image: url('../imgs/bg4.jpg');
}
.content-main>li:nth-child(5){
  background-image: url('../imgs/bg5.jpg');
}

/*第一屏样式*/
.home-carousel{
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.home-carousel li{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  text-align: center;
  line-height: 520px;
  visibility: hidden;
}
.home-carousel .active{
  visibility: visible;
}

.home-carousel li:nth-child(1){
  background:#dc6c5f;
}
.home-carousel li:nth-child(2){
  background:#95dc84;
}
.home-carousel li:nth-child(3){
 background:#64b9d2;
}
.home-carousel li:nth-child(4){
  background:#000000;
}
.home-point{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-point li{
  float: left;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.5);
  margin: 2px;
  box-shadow: 0 0 4px rgba(25,25,25,0.8);
  border-radius: 50%;
  cursor: pointer;
}
.home-point .active{
  background: white;
}

.home-carousel .left-hide{
  visibility: hidden;
  animation: leftHide 2s linear;
}
.home-carousel .left-show{
  visibility: visible;
  animation: leftShow 2s linear;
}
.home-carousel .right-show{
  visibility: visible;
  animation: rightShow 2s linear;
}
.home-carousel .right-hide{
  visibility: hidden;
  animation: rightHide 2s linear;
}

@keyframes leftHide {
  0%{visibility: visible}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
  100%{transform: translateZ(-200px); visibility: hidden}
}

@keyframes rightShow {
  0%{visibility: hidden; transform: translateZ(-200px);}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
  100%{visibility: visible}
}

@keyframes leftShow {
  0%{visibility: hidden; transform: translateZ(-200px);}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
  100%{visibility: visible}
}

@keyframes rightHide {
  0%{visibility: visible}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
  100%{transform: translateZ(-200px); visibility: hidden}
}